.background {
  background-image: linear-gradient(to right bottom, #c2fec7, #d5fde2, #ddfede, #e5fddd, #e2fed5, #e1fcd2, #d0fdd8, #d6fdd8);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.card {
  width: 300px;
  height: 304px;
  background: #cfcfcf;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  z-index: 3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1.3rem;
  
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 252, 71), rgb(255, 0, 0));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
  z-index: -1;
}

@keyframes rotBGimg {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #efefef;
  inset: 5px;
  border-radius: 20px;
  z-index: -1;
}

  /* .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */
  
  


label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 26px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #0c3d3a;
    font-size: bold;
}

button {
  font-weight: bold;
  margin-top: 15px;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
 }
 
 button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
 }
.input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5,
     -20px -20px 60px #ffffff;
  transition: 0.3s;
 }
 
 .input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
 }